version: 2
jobs:
  setup-environment:
    docker:
      - image: circleci/node:10.16.3

    working_directory: ~/back-end
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-
      - run:
          name: Install dependencies
          command: npm install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - persist_to_workspace:
          root: ~/
          paths: ./back-end

  build:
    docker:
      - image: circleci/node:10.16.3
    working_directory: ~/
    environment:
          IS_CIRCLECI: true
    steps:
      - attach_workspace:
          at: ~/
      - run:
          name: Build back-end
          command: cd back-end && npm run build
    
  unit-test:
    docker:
      - image: circleci/node:10.16.3
    steps:
      - run:
          name: Install Docker Compose
          command: |
            curl -L https://github.com/docker/compose/releases/download/1.19.0/docker-compose-`uname -s`-`uname -m` > ~/docker-compose
            chmod +x ~/docker-compose
            sudo mv ~/docker-compose /usr/local/bin/docker-compose
      - run:
          name: Fetch Meta repository
          command: git clone https://github.com/C4SolutionsTDDC88/c4solutions.git
      - attach_workspace:
          at: ~/
      - run:
          name: move back-end code
          command: mkdir ~/project/c4solutions/back-end && sudo mv ~/back-end/* ~/project/c4solutions/back-end/
      - run:
          command: cd c4solutions && ls && pwd
      # - setup_remote_docker
      # - run:
      #     name: run test
      #     command: cd c4solutions && npm run test:back-end:unit

workflows:
  version: 2
  build-and-test:
    jobs:
      - setup-environment
      - build:
          requires:
            - setup-environment
      - unit-test:
          requires:
            - setup-environment